---
// TODO
---

<footer class="py-5 flex justify-center">
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" class="text-xs tracking-wide">
        <a property="dct:title" rel="cc:attributionURL" href="https://my-1st-frame.castr.guru" class="inline">
            My 1st Frame
        </a> by
        <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://castr.guru" class="inline">
            Castr GÜRŲ
        </a> is marked with
        <a href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" class="inline-flex items-center">
            CC0 1.0
            <img style="height:16px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
            <img style="height:16px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt="">
        </a>
    </p>
</footer>
