---
import logo from '../assets/castrguru.svg'
---

<main>
	<section class="py-10 flex flex-col items-center gap-4">
		<a href="https://castr.guru" target="_blank">
			<img src={logo.src} alt="Castr GÜRŲ Homepage" class="size-32" />
		</a>

		<h1 class="text-6xl text-center text-fuchsia-800 tracking-wide">
			My 1st Frame
		</h1>

		<h1 class="text-4xl text-center text-fuchsia-600 tracking-tight">
			by Castr GÜRŲ
		</h1>

		<h3 class="p-5 sm:p-10 text-2xl text-pretty text-center">
			To get going, open the <code class="text-sky-500 font-semibold">src/pages</code>
			directory in your project and start editing.
		</h3>
	</section>

	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis perferendis harum voluptatum necessitatibus repellat ratione mollitia animi quod quas dolores maiores consectetur ipsum, et, quo facere iusto omnis at architecto.
	</p>
</main>
