---
import Footer from '../components/Footer.astro'
// import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Change 👇 to your Frame / Project title -->
		<title>My 1st Frame by Castr GÜRŲ</title>

		<!-- Castr GÜRŲ Analytics -->
		<script async src="https://telemetry.castr.guru"></script>

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>

	<body class="w-screen h-screen overflow-hidden bg-gradient-to-r from-stone-800 to-slate-800">
		<main class="w-full sm:w-[640px] h-full mx-auto flex flex-col justify-between bg-gradient-to-b from-slate-50 to-slate-200 overflow-y-scroll">
			<!-- <Header /> -->
			<section class="px-3">
				<slot />
			</section>
			<Footer />
		</main>
	</body>
</html>
