<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Change 👇 to your Frame / Project title -->
		<title>My 1st Frame by Castr GÜRŲ</title>

		<!-- Castr GÜRŲ Analytics -->
		<script async src="https://telemetry.castr.guru"></script>

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
